<md-dialog class="dynamicCardDialog" aria-label="Autocomplete Dialog Example" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Autocomplete Dialog Example</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="Shut">
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <md-tabs md-selected="vm.dynamicCardTabIndex" md-dynamic-height>

      <md-tab>
        <md-tab-body>
          <md-content class="md-padding">
            <div class="md-dialog-content">
              <form ng-submit="$event.preventDefault()">
                <div class="md-padding" ng-cloak>
                  <div>
                    <h1 class="md-title">Select category and subcategory below
                      <md-tooltip ng-if="vm.showTooltip1" md-visible="vm.showTooltip1" md-direction="left">
                        Please select from both dropdowns
                      </md-tooltip>
                    </h1>
                    <div layout="row">
                      <md-input-container>
                        <label>Size Again</label>
                        <md-select ng-model="vm.size1" ng-change="vm.selectChanged1()">
                          <md-optgroup label="Sizes">
                            <md-option ng-value="size.category" ng-repeat="size in vm.sizes1 | filter: {name: vm.selectedToppings } | unique:'category'">{{size.category}}</md-option>
                          </md-optgroup>
                        </md-select>
                      </md-input-container>

                      <md-input-container>
                        <label>Topping</label>
                        <md-select ng-model="vm.selectedToppings" ng-change="vm.selectChanged2()">
                          <md-optgroup label="Subcategory">
                            <md-option ng-value="topping.name" ng-repeat="topping in vm.toppings | filter: {category: vm.size1 }">{{topping.name}}</md-option>
                          </md-optgroup>
                        </md-select>
                      </md-input-container>

                    </div>
                      <p ng-if="selectedToppings">You ordered a {{vm.size1.toLowerCase()}} pizza with
                        {{vm.selectedToppings.toLowerCase()}}.</p>
                    </div>
                    <div layout="row">
                      <md-button ng-click="vm.clearValue()" ng-disabled="!vm.size1 && !vm.selectedToppings" style="margin-right: 20px;">Clear</md-button>
                    </div>
                </div>
              </form>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>



      <md-tab>
        <md-tab-body>
          <md-content class="md-padding">
            <span>Hello</span>
            <div>
                <form name="myForm4"
                      sf-schema="vm.schema"
                      sf-form="vm.form"
                      sf-model="vm.model4"
                      ng-submit="vm.next(myForm4)"></form>
                <div ng-show="myForm4.$valid" class=""><em>Form is valid</em></div>
                <div ng-show="myForm4.$invalid" class="ng-hide"><em>Form is not valid</em></div>
                <pre >{{vm.model4}}</pre>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>


    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button id = "dynamicCardNext" aria-label="Next"  ng-click="vm.next(myForm4)">Next

    </md-button>
  </md-dialog-actions>

</md-dialog>
