<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" >
        <div layout="column" >
            <div class="breadcrumb" layout="row" layout-align="center">
                <span class="parent">SETTINGS</span>
            </div>

            <div class="">Fill up details below related to project</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title mt-32">Basic form with validation</div>
        <div class="pb-16">With this form example, Submit button will only be activated if all the required fields are
            filled and if there is no error on the form.
        </div>
        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="60">

                <form name="basicForm" class="md-inline-form" novalidate>

                    <div class="form-title">Project Details</div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <label>Project Name</label>
                            <input type="text" name="projectName" ng-model="vm.basicForm.projectName"
                                    id="projectName"
                                   required="">
                            <div ng-messages="basicForm.projectName.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Project Name field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <label>Address Line 1</label>
                            <input type="text" name="addressLine1" ng-model="vm.basicForm.addressLine1"
                                    id="addressLine1"
                                   required>
                            <div ng-messages="basicForm.addressLine1.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Address Line 1 field is required.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Address Line 2</label>
                            <input type="text" name="addressLine2" ng-model="vm.basicForm.addressLine2"
                                    id="addressLine2">
                        </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row">

                        <md-input-container  md-is-error="basicForm.city.$invalid && (basicForm.$submitted || basicForm.city.$dirty)" flex>
                          <label>City</label>
                          <md-select name="city" id="city" placeholder="City" ng-model="vm.basicForm.city" ng-required="true">
                            <md-option ng-repeat="city in vm.cities" value="{{city.abbrev}}">{{city.abbrev}}</md-option>
                          </md-select>
                          <div ng-messages="basicForm.city.$error"  ng-if="basicForm.$submitted || basicForm.city.$touched">
                            <div ng-message="required">City is required.</div>
                          </div>
                        </md-input-container>
<!--
                        <md-input-container flex>
                            <label>State</label>
                            <md-select ng-model="vm.basicForm.state">
                                <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container> -->
                        <md-input-container  md-is-error="basicForm.state.$invalid && (basicForm.$submitted || basicForm.state.$dirty)" flex>
                          <label>State</label>
                          <md-select name="state" id="state" placeholder="State" ng-model="vm.basicForm.state" ng-required="true">
                            <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>
                          </md-select>
                          <div ng-messages="basicForm.state.$error"  ng-if="basicForm.$submitted || basicForm.state.$touched">
                            <div ng-message="required">State is required.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Postal Code</label>
                            <input name="postalcode" ng-model="vm.basicForm.postalCode" placeholder="110070"
                                   required ng-pattern="/^[0-9]{6}$/" md-maxlength="6">
                            <div ng-messages="basicForm.postalcode.$error" role="alert" multiple>
                                <div ng-message="required"><span>You must supply a postal code.</span></div>
                                <div ng-message="pattern"><span>That doesn't look like a valid postal code.</span></div>
                                <div ng-message="md-maxlength">
                                    <span>Postal code can't be longer than 6 characters.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Biography</label>
                        <textarea ng-model="vm.basicForm.biography" columns="1" md-maxlength="150" rows="5"></textarea>
                    </md-input-container>

                    <div layout="column" layout-gt-sm="row" layout-align="start start">

                        <div class="input-block" flex layout="row" layout-align="start center">
                            <label>Project Start Date:</label>
                            <md-datepicker name="startDate" ms-datepicker-fix ng-model="vm.basicForm.startDate"
                                           md-placeholder="Select Date" ng-required="true">
                            </md-datepicker>
                        </div>

                        <div class="input-block" flex layout="row" layout-align="start center">
                            <label>Estimated End Date:</label>
                            <md-datepicker name="endDate"  ng-model="vm.basicForm.endDate"
                                           md-placeholder="Select Date" ng-required="false">
                            </md-datepicker>
                        </div>



                    </div>

                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="basicForm.$invalid || basicForm.$pristine">
                        Submit
                    </md-button>
                </form>

            </div>
            <!-- / BASIC FORM -->

            <!-- BASIC FORM DATA -->
            <div class="form-wrapper form-data-wrapper md-whiteframe-1dp" flex="40">
                <div class="form-title">Form ng-model data</div>
                <div class="json-data-wrapper">
                    <pre>{{vm.basicForm | json}}</pre>
                </div>
            </div>
            <!-- / BASIC FORM DATA -->
        </div>


        <!-- STEPPER -->
        <!-- <div class="md-title">Stepper</div>
        <div class="pb-16">
            <b>ms-stepper</b> is a custom made form wizard directive. It follows Google's Material Design specifications
            and we recommend you to use it. If for some reason, it's not suitable for your project, you can always use
            the Form Wizard that we put together using md-tabs and forms.
        </div>

        <form name="stepper" ms-stepper ng-submit="vm.submitStepper()" ng-model="vm.stepper" novalidate>
            <ms-stepper-step ng-form="step1" step="1" step-title="'Personal Information'">
                <div ng-include="'app/main/ui/forms/stepper-steps/step-1.html'"></div>
            </ms-stepper-step>

            <ms-stepper-step ng-form="step2" step="2" step-title="'Address'" optional-step>
                <div ng-include="'app/main/ui/forms/stepper-steps/step-2.html'"></div>
            </ms-stepper-step>

            <ms-stepper-step ng-form="step3" step="3" step-title="'Payment Method'">
                <div ng-include="'app/main/ui/forms/stepper-steps/step-3.html'"></div>
            </ms-stepper-step>
        </form> -->
        <!-- / STEPPER -->

    </div>
    <!-- / CONTENT -->

</div>
