<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">USER INTERFACE</span>
            </div>

            <div class="title">Forms</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <!-- STEPPER -->
        <div class="md-title">Stepper</div>
        <div class="pb-16">
            <b>ms-stepper</b> is a custom made form wizard directive. It follows Google's Material Design specifications
            and we recommend you to use it. If for some reason, it's not suitable for your project, you can always use
            the Form Wizard that we put together using md-tabs and forms.
        </div>

        <form name="stepper" ms-stepper ng-submit="vm.submitStepper()" ng-model="vm.stepper" novalidate>
            <ms-stepper-step ng-form="step1" step="1" step-title="'Personal Information'">
                <div ng-include="'app/main/ui/forms/stepper-steps/step-1.html'"></div>
            </ms-stepper-step>

            <ms-stepper-step ng-form="step2" step="2" step-title="'Address'" optional-step>
                <div ng-include="'app/main/ui/forms/stepper-steps/step-2.html'"></div>
            </ms-stepper-step>

            <ms-stepper-step ng-form="step3" step="3" step-title="'Payment Method'">
                <div ng-include="'app/main/ui/forms/stepper-steps/step-3.html'"></div>
            </ms-stepper-step>
        </form>
        <!-- / STEPPER -->

        <div class="md-title mt-32">Form Wizard</div>
        <div class="pb-16">
            Form wizard is a combination of md-tabs and forms that we have created for you. You can have as many steps
            as you want.
        </div>
    

        <div class="md-title mt-32">Basic form with validation</div>
        <div class="pb-16">With this form example, Submit button will only be activated if all the required fields are
            filled and if there is no error on the form.
        </div>
        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="60">

                <form name="basicForm" class="md-inline-form" novalidate>

                    <div class="form-title">Optional form title</div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="text" name="firstname" ng-model="vm.basicForm.firstname"
                                   placeholder="Firstname"
                                   required>
                            <div ng-messages="basicForm.firstname.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Firstname field is required.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <input type="text" name="lastname" ng-model="vm.basicForm.lastname" placeholder="Lastname"
                                   required>
                            <div ng-messages="basicForm.lastname.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Lastname field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row">
                        <md-input-container flex>
                            <label>City</label>
                            <input type="text" name="city" ng-model="vm.basicForm.city">
                        </md-input-container>

                        <md-input-container flex>
                            <label>State</label>
                            <md-select ng-model="vm.basicForm.state">
                                <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Postal Code</label>
                            <input name="postalcode" ng-model="vm.basicForm.postalCode" placeholder="12345"
                                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                            <div ng-messages="basicForm.postalcode.$error" role="alert" multiple>
                                <div ng-message="required"><span>You must supply a postal code.</span></div>
                                <div ng-message="pattern"><span>That doesn't look like a valid postal code.</span></div>
                                <div ng-message="md-maxlength">
                                    <span>Postal code can't be longer than 5 characters.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Biography</label>
                        <textarea ng-model="vm.basicForm.biography" columns="1" md-maxlength="150" rows="5"></textarea>
                    </md-input-container>

                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="basicForm.$invalid || basicForm.$pristine">
                        Submit
                    </md-button>
                </form>

            </div>
            <!-- / BASIC FORM -->

            <!-- BASIC FORM DATA -->
            <div class="form-wrapper form-data-wrapper md-whiteframe-1dp" flex="40">
                <div class="form-title">Form ng-model data</div>
                <div class="json-data-wrapper">
                    <pre>{{vm.basicForm | json}}</pre>
                </div>
            </div>
            <!-- / BASIC FORM DATA -->
        </div>

    </div>
    <!-- / CONTENT -->

</div>
