<!-- PROJECTS -->
<div id="boards" class="md-accent-bg" layout="column" flex>

    <!-- PROJECT SELECTION -->
    <div id="board-selector" layout="column" layout-align="start center" flex>

        <h1>All Projects</h1>
        <!-- PROJECT LIST -->
        <div class="board-list" layout="row" layout-align="center center" layout-wrap>

            <!-- PROJECT -->
            <div class="board-list-item" ng-repeat="board in vm.boardList"
                 ui-sref="app.scrumboard.boards.board({id:board.id, uri:board.uri})"
                 layout="column" layout-align="center center">
                <md-icon md-font-icon="icon-home" class="icon s64"></md-icon>
                <div class="board-name">{{board.name}}</div>
            </div>
            <!-- / PROJECT -->

            <!-- NEW PROJECT BUTTON -->
            <div class="board-list-item add-new-board" layout="column" layout-align="center center"
                 ui-sref="app.scrumboard.boards.addBoard">
                <md-icon md-font-icon="icon-plus-circle" class="icon s64"></md-icon>
                <div class="board-name" translate="">Add new project</div>
            </div>
            <!-- / NEW PROJECT BUTTON -->

        </div>
        <!-- / PROJECT LIST -->

    </div>
    <!-- / PROJECT SELECTION -->

</div>
<!-- / PROJECT -->
